<div >
  <button class="button" routerLink="/agregar-publicacion">Añadir Publicación</button>
</div>
<div *ngFor="let post of posts">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>{{post.titulo}}</mat-card-title>
      <mat-card-subtitle>Usuario</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
      <p>
        {{post.fecha}}
      </p>
      <p>
        {{post.descripcion}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <!-- <button class="button" mat-button>me gusta</button> -->
      <button class="button" mat-button>comentar</button>
      <!-- <button class="button" mat-button>borrar</button> -->
    </mat-card-actions>
  </mat-card>
  
</div>


